<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='content-type'>
    <title>Colorifier</title>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:200,900|Bree+Serif|Open+Sans:300italic,600italic,300,600' media='screen' rel='stylesheet' type='text/css'>

    <link href='/static/css/font-awesome.min.css' media='screen' rel='stylesheet' type='text/css'>
    <link href='/static/css/bootstrap.min.css' media='screen' rel='stylesheet' type='text/css'>
    <link href='/static/css/ol.css' rel='stylesheet' type='text/css'>
    <link href='/static/css/bootstrap-slider.min.css' rel='stylesheet' type='text/css'>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/underscore.min.js"></script>
    <script src="/static/js/colorify.js"></script>
    <script src="/static/js/ol.js"></script>
    <script src="/static/js/bootstrap-slider.min.js"></script>

  </head>
  <body>
    <div id="container">
      <div class="row">
        <div class="col-md-10">
          <div id="olImage" style="height:100%;"></div>
        </div>
        <div class="col-md-2">
          <div class="row" style="padding:3px; background-color:#FFA1A1">
            <canvas id="canvas-red" width=255 height=100></canvas><br>
            <b>0</b> <input id="red" type="text" class="span2" value="" data-slider-min="0" data-slider-max="255" data-slider-step="1" data-slider-value="[0,255]" data-slider-tooltip="hide" data-slider-handle="round"/> <b>255</b>
          </div>
          <div class="row" style="padding:3px; background-color:#A4FFA1">
            <canvas id="canvas-green" width=255 height=100></canvas><br>
            <b>0</b> <input id="green" type="text" class="span2" value="" data-slider-min="0" data-slider-max="255" data-slider-step="1" data-slider-value="[0,255]" data-slider-tooltip="hide" data-slider-handle="round"/> <b>255</b>
          </div>
          <div class="row" style="padding:3px; background-color:#A1A9FF">
            <canvas id="canvas-blue" width=255 height=100></canvas><br>
            <b>0</b> <input id="blue" type="text" class="span2" value="" data-slider-min="0" data-slider-max="255" data-slider-step="1" data-slider-value="[0,255]" data-slider-tooltip="hide" data-slider-handle="round"/> <b>255</b>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      var imageName = "{{ image_name }}";
      url = "{{ image_url|safe }}";
      console.log("url:", url);
      var imageMap = makeImage(url);

      function reCurve() {
        redCurve = levelCurve(redSlider.getValue()[0], redSlider.getValue()[1]);
        greenCurve = levelCurve(greenSlider.getValue()[0], greenSlider.getValue()[1]);
        blueCurve = levelCurve(blueSlider.getValue()[0], blueSlider.getValue()[1]);
        imageMap.render();
      }

      var redSlider = $("#red").slider().on("slide", reCurve).data('slider');
      var greenSlider = $("#green").slider().on("slide", reCurve).data('slider');
      var blueSlider = $("#blue").slider().on("slide", reCurve).data('slider');

      function drawHistograms() {
        var img = new Image();
        img.crossOrigin = "anonymous";
        img.src = url;
        $(img).on("load", function() {
          var canv = $("<canvas/>")[0];
          canv.width = img.width;
          canv.height = img.height;

          canv.getContext('2d').drawImage(img, 0, 0, img.width, img.height);

          var pixelData = canv.getContext("2d").getImageData(0, 0, img.width, img.height);
          console.log(pixelData);

          histogram = makeHistogram(pixelData.data, img.width, img.height);

          function renderColorHistogram(channelHist, selector, color) {
            // First, find the max value to normalize by
            var max = 0;
            for(var i = 0; i < channelHist.length; i++) {
              if (channelHist[i] > max) {
                max = channelHist[i];
              }
            }
            // Prep our canvas
            var histCanvas = $("#" + selector)[0];
            var histCtx = histCanvas.getContext("2d");
            histCtx.fillStyle="#FFFFFF";
            histCtx.fillRect(0,0,255,100);

            // Show the histogram!
            histCtx.fillStyle=color;
            for(var i = 0; i < channelHist.length; i++) {
              var barSize = channelHist[i] / max * 100;
              histCtx.fillRect(i, 100 - barSize, 1, barSize);
            }
          }

          renderColorHistogram(histogram[0], "canvas-red", "#FF0000");
          renderColorHistogram(histogram[1], "canvas-green", "#00FF00");
          renderColorHistogram(histogram[2], "canvas-blue", "#0000FF");

        });
      }

      setTimeout(function() {
        drawHistograms();
      }, 100);

    </script>
    <!-- Sup bru? Y U Reading mah html?  -->
  </body>
</html>
